body {
  font-size: 17px;
  line-height: 17px;
  color: #000000;
  font-weight: normal;
  font-family: "Cuprum", "PT Sans", "Arial" sans-serif;
  background-color: #ffffff;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.catalog-title,
.popular-title {
font-size: 30px;
line-height: 30px;
color: #32425c;
font-weight: normal;
text-transform: uppercase;
}

.promo-slider-title {
  font-size: 36px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
}

.services-slider-title {
  font-size: 36px;
  line-height: 24px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.service-description,
.about-perforators-text,
.service-text,
.services-slider-text,
.about-company-text,
.contacts-text {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Arial" sans-serif;
}

.main-header {
  background-color: #f1f5f7;
  margin-bottom: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
  min-height: 320px;
}

.header-top {
  margin-bottom: 46px;
  background-color: #293449;
}

.header-logo {
  width: 220px;
  height: 43px;
  float: left;
  margin-right: 10px;
  background-color: #ee3643;
}

.header-search {
  width: 240px;
  float: left;
  margin-right: 10px;
}

.header-bookmarks {
  width: 150px;
  float: left;
  margin-right: 10px;
}

.header-cart {
  width: 140px;
  float: left;
  margin-right: 10px;
}

.header-btn-order {
  width: 150px;
  height: 43px;
  float: right;
  background-color: #63a63e;
}

.header-middle {
  margin-bottom: 40px;
}

.header-about {
  width: 310px;
  margin-right: 10px;
  float: left;
}

.header-contacts {
  width: 270px;
  margin-right: 50px;
  float: left;
}

.header-userblock {
  width: 300px;
  float: right;
}

.header-bottom {
  min-height: 60px;
  background-color: #293449;
}

.header-navigation {
  width: 940px;
}

.header-navigation-point {
  display: inline-block;
}

.main-promo {
  margin-bottom: 53px;
}

.promo-materials {
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
  float: left;
  background-color: #f6b22d;
  margin-bottom: 20px;
}

.promo-instrument {
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
  float: left;
  background-color: #4aafde;
  margin-bottom: 20px;
}

.promo-equipments {
  width: 300px;
  min-height: 123px;
  float: right;
  background-color: #cc79d1;
  margin-bottom: 20px;
}

.promo-discounts {
  width: 300px;
  min-height: 123px;
  float: right;
  background-color: #85d179;
  margin-bottom: 20px;
}

.promo-delivery {
  width: 300px;
  min-height: 123px;
  float: right;
  background-color: #f6b22d;
}

.main-promo-slider {
  width: 620px;
  min-height: 266px;
  float: left;
  background-color: grey;
}

.main-popular-products {
  margin-bottom: 20px;
}

.popular-header {
  width: 940px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-title {
  width: 375px;
  margin: 30px;
  float: left;
}

.popular-btn {
  width: 253px;
  height: 40px;
  float: right;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 24px;
  background-color: #ee3643;
}

.main-products-blocks {
  width: 940px;
  min-height: 318px;
}

.main-product-block:last-child {
  margin-right: 0;
}

.main-product-block {
  width: 220px;
  min-height: 318px;
  float: left;
  margin-right: 17px;
  border: 1px solid #e5e5e5;
}

.main-popular-manufacturer {
  width: 940px;
  margin-bottom: 65px;
}

.manufacturer-block {
  width: 220px;
  height: 145px;
  float: left;
  margin-right: 17px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.manufacturer-block:nth-child(4),
.manufacturer-block:last-child {
  float: right;
  margin-right: 0;
}

.main-services {
  width: inherit;
  padding-top: 44px;
  padding-bottom: 102px;
  background-color: #f2f6f8;
  margin-bottom: 78px;
}

.service-title {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.services-slider {
  width: inherit;
  margin-top: 68px;
}

.main-about {
  width: inherit;
  margin-bottom: 85px;
}

.main-about-company {
  width: 540px;
  min-height: 375px;
  float: left;
}

.main-about-contacts {
  width: 300px;
  min-height: 375px;
  float: right;
}

.about-title,
.about-perforators-title {
  font-size: 30px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.main-footer {
  background-color: #32425c;
}

.footer-top {
  margin-bottom: 33px;
}

.footer-logo {
  width: 220px;
  height: 65px;
  background-color: #ee3643;
  float: left;
}

.footer-top-navigation {
  width: 550px;
  float: right;
}

.top-navigation-point,
.middle-navigation-point {
  display: inline-block;
}

.footer-adress {
  width: 380px;
  float: left;
}

.footer-middle-navigation {
  width: 540px;
  float: right;
}

.footer-bottom {
  min-height: 107px;
  margin-top: 50px;
}

.footer-copywright {
  width: 240px;
  margin-right: 140px;
  float: left;
}

.footer-social {
  width: 240px;
  margin-right: 20px;
  float: left;
}

.footer-contact {
  width: 140px;
  margin-right: 20px;
  float: left;
}

.footer-designed {
  width: 140px;
  float: right;
}

.catalog-header {
  background-color: #f1f5f7;
  margin-bottom: 20px;
}

.breadcrumbs {
  width: 380px;
  min-height: 20px;
  margin-bottom: 20px;
}

.breadcrumbs-crumb {
  display: inline-block;
}

.catalog-title {
  min-height: 30px;
  padding: 30px;
  background-color: #f2f6f8;
}

.catalog-filter {
  width: 220px;
  min-height: 1200px;
  float: left;
}

.catalog-filter-title {
  width: 220px;
  min-height: 38px;
  float: left;
  background-color: #f7f3ec;
  margin-bottom: 18px;
}

.catalog-products {
  width: 700px;
  float: right;
}

.catalog-products-sorting {
  width: 700px;
  min-height: 38px;
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.products-sorting-title {
  width: 90px;
  min-height: 18px;
  float: left;
}

.products-sorting-list {
  width: 460px;
  min-height: 18px;
  float: right;
}

.products-sorting-sorter {
  display: inline-block;
}

.catalog-products-blocks {
  min-height: 995px;
  margin-bottom: 22px;
}

.catalog-product-block {
  width: 220px;
  min-height: 318px;
  float: left;
  margin-right: 17px;
  margin-bottom: 20px;
  border: 1px solid #e5e5e5;
}

.catalog-product-block:nth-child(3),
.catalog-product-block:nth-child(6),
.catalog-product-block:nth-child(9) {
  margin-right: 0;
}

.catalog-paginator {
  display: block;
  float: left;
  width: 480px;
  height: 38px;
}

.pagination-page {
  display: inline-block;
}

.catalog-about-perforators {
  float: right;
  width: 940px;
  min-height: 262px;
  background-color: #f2f6f8;
}

.about-perforators-title {
  margin-top: 60px;
}
